<!DOCTYPE html>
<html>
 
<head>
    <link rel="stylesheet" href="/css/form.css">
</head>
 
<body>
    <%- include('./includes/nav.ejs') %>
    <div class="main">
        
        <form action = "/add" method="post">
 
            <p>
                <label>Choose ExpenseAmount :
                    <input type="number" name="expenseamount" /></label>
            </p>
 
            <p>
                <label>Description :
                    <input type="text" name="description" /></label>
            </p>

            <p>
                <label> Choose a Category:</label>
                <select name="category" id="category">
                    <option ></option>
                    <option value="Movie">Movie</option>
                    <option value="shopping">shopping</option>
                    <option value="Grocery">Grocery</option>
                    <option value="Travelling">Travelling</option>
                  </select>
            </p>
            <p>
                <button type="submit">Add Expense</button>
            </p>
 
        </form>
    </div>
</body>
 
</html>